.item_row.warning {
 	background-color: #f2dede !important;
}
#item-list .list-group-item {
	border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.bootstrap-datatimepicker-widget.dropdown-menu {
	z-index: 9;
}
.select2-container {
	z-index: 1 !important;
}