.item_row .topics {
	text-decoration: none;
}
.item_row .refId {
	word-wrap: break-word;
}
@media only screen and (max-width: 992px) {
	#item-list .list-group-item span.title {
		font-weight: bold;
	}
}
#item-list .list-group-item span.title {
	text-align: justify;
	display: block;
}
#item-list .list-group-item .content {
	text-align: justify;
	display: block;
}

#item-list-body table {
	width: 100%;
}