iframe:focus { 
    outline: none;
}
iframe[seamless] { 
    display: block;
}
iframe {
	width: 100%;
	frameBorder: "0";
	border:none;
	padding: 0;
    margin: 0;
}

#presetDiv .btn:first-child {
	margin-left: unset;
}
#presetDiv .btn {
	margin-left: 10px;
}